:root { 
    --gbox-b: #282828;
    --gbox-g: #928374;
    --gbox-w: #fbf1c7;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* general */
* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: unset;
    color: unset;
}
body {
    font-family: 'Fira Code', monospace;
    background-color: var(--gbox-w);
}
.main-container {
    max-width: 920px;
    margin: 0 auto;
}

/* navigation bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--gbox-b);
    margin-top: 0.5rem;
}
.nav-logo h1 {
    font-size: 4em;
    margin-right: 1em;
}
.nav-logo p {
    font-size: 0.95em;
    color: var(--gbox-g);
}
.nav-links {
    font-size: 1.8em;
    margin: auto 0;
}
.nav-links a {
    margin: 0 0.5em;
}
.nav-links a:hover, .nav-links a:focus{
    font-weight: 600;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
}
.donate-links {
    margin: 0 auto;
}
.donate-links a {
    position: relative;
    margin: 0.5em;
}

/* main */
main {
    margin-top: 2rem;
}
main a {
    text-decoration: underline;
}
main a:hover {
    color: var(--gbox-g);
}
.welcome, .contact {
    font-size: 1.3em;
    line-height: 1.55;
    margin: 1em 1em;
    text-align: justify;
}
.welcome img {
    width: 25%;
    display: block;
    margin: 1.5em auto;
    border-radius: 2px;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact a {
    margin: 0 0.2em;
}
