nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0.2rem;
    top: 0;
    position: sticky;
    overflow: hidden;

    h1 {
        font-size: 2.5rem;
        font-weight: 400;
    }
    button {
        all: unset;
        font-size: 1.5rem;
        font-weight: 300;
    }
}
