---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
	const blogPosts = await getCollection("posts");
	return blogPosts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
const hasImage = post.data.cover;
---

<Layout title="test-post">
	<div>
		<article>
			{
				hasImage && (
					<Image
						src={post.data.cover}
						alt={post.data.title}
						width={600}
						height={600}
					/>
				)
			}
			<h1 <!-- class="md:!text-5xl md:!leading-[1.2]" -->
				>{post.data.title}
			</h1>
			<p class="lead">{post.data.excerpt}</p>
			<div>
				<Content />
			</div>
		</article>
	</div>
</Layout>
