// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// font-family: 'Source Sans Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode.ttf') format('truetype');
}

$font-code: 'FiraCode', sans-serif;

.main-container {
    font-family: 'Source Sans Pro', sans-serif;

    code,
    pre {
        font-family: $font-code !important;
        font-size: smaller;
    }
}
