* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    max-width: 920px;
    padding: 0 1rem 2rem;
    margin: 0 auto;
    overflow: hidden;
}
