
@font-face {
	   font-family: FiraCode;
	      src: url(/fonts/FiraCode-Regular.ttf);
      }


.center {
	display: block;
	margin: auto;
	width: 50%;
}

body {
	background-color: #fbf1c7
}

#wrapper {

	width: 63em;
	max-width: 100%;
	margin: 0 auto;	
}
h1 {
	text-align: center;
	font-family: FiraCode;
	color: #282828;
}

p {
	text-align: center;
	font-family: FiraCode;
}


<!--Navigation bar list--!>
#logo {
	float: left;
	display: inline-block;
}
.clear {
	clear: both;
}
#navibar {
	width: 100%;
	float: right;
	margin: 0 0 1em 0;
	padding: 0;
}

#navibar ul {
	list-style-type: none;
	padding: none;
	overflow: hidden;
	font-family: FiraCode;
}

#navibar ul li {
	float: right;
	background-color: #fbf1c7;
	list-style-type: none;
	font-family: FiraCode;
}

#navibar ul li a { 
	display: block;
	color: #282828;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

#navibar ul li a:hover {
	background-color: #ebdbb2;
	color: #282828;
}

.image {
	text-align: center;
}

.image img {
	float: center;	
	
}
