
@font-face {
	   font-family: FiraCode;
	      src: url(/fonts/FiraCode-Regular.ttf);
      }


.center {
	display: block;
	margin: auto;
	width: 50%;
}

body {
	background-color: #fbf1c7
}

#wrapper {

	width: 63em;
	max-width: 100%;
	margin: 0 auto;	
}
h1 {
	text-align: center;
	font-family: FiraCode;
	color: #282828;
}

p {
	text-align: center;
	font-family: FiraCode;
}


<!--Navigation bar list--!>
#navibar ul {
	list-style-type: none;
	margin: 100px;
	padding: 0;
	overflow: hidden;
	background-color: #928374;
	position: sticky;
	font-family: FiraCode;
}
ul li {
	float: right;
	background-color: #fbf1c7;
	list-style-type: none;
	font-family: FiraCode;
}

ul li a { 
	display: block;
	color: #282828;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

ul li a:hover {
	background-color: #ebdbb2;
	color: #282828;
}

img {
	display: block;
	margin: auto;
	padding: 70px 0;
}

