---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { calculateYearDifference } from "../utils/dates";
import { SITE_CONFIG } from "../config";

const aboutData = {
  title: "Hi!",
  image: "/images/work-pic.webp",
};

const myAge = calculateYearDifference(SITE_CONFIG.author.birthDate);
const yearsProgramming = calculateYearDifference(SITE_CONFIG.author.programmingStartDate);
---

<Layout title={aboutData.title}>
  <main class="px-3">
    <article
      class="prose dark:prose-invert prose-stone w-full max-w-85ch gap-4 flex flex-col"
    >
      {
        aboutData.image && (
          <figure class="profile-image w-full flex justify-center mb-6">
            <Image
              class="object-cover object-center !m-0 aspect-square block border-2 border-[var(--color-border)] dark:border-white"
              src={aboutData.image}
              alt="Marcel - software developer based in Barcelona"
              width={150}
              height={150}
            />
          </figure>
        )
      }
      <header class="mb-6">
        <h1 class="page-title">
          {aboutData.title}
        </h1>
      </header>
      <div
        id="about-content"
        class="text-sm leading-relaxed text-gray-700 prose dark:text-white"
      >
        <p>
        I'm Marcel. I love coding, climbing and electronic music synthesizers.
        </p>
        <p>
          With over {yearsProgramming} years of experience in tech industry, I
          specialize in web development but my passion is Linux and building developer tools.
        </p>
        <p>
          Currently, I'm working as a web developer at <a
            href="https://www.worldsensing.com/"
            target="_blank"
            rel="noopener">Worldsensing</a
          >. In my free time, I'm expanding my skills by contributing to multiple open source projects.
        </p>
      </div>
    </article>
  </main>
</Layout>

<style>
  .page-title {
    font-family: var(--font-merriweather);
    font-size: 32px;
    margin-bottom: 4px;
    line-height: 1.2;
  }

  #about-content {
    font-family: var(--font-atkinson);
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
    font-weight: normal;
    text-align: justify;
    line-height: 1.6;
    hyphens: auto;
    text-wrap: pretty;
  }

  #about-content p {
    margin-block: 1em;
  }

  #about-content a {
    padding: 0 0.15rem;
    margin: 0 -0.15rem;
    font-size: inherit;
  }

  :global(html:not(.dark)) #about-content a:hover {
    background-color: #0000ee;
    color: #ffff11 !important;
  }

  @media (max-width: 600px) {
    #about-content {
      text-align: left;
    }
  }
</style>
