---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { BLOG_TITLE } from "./constants";

const allPosts = await getCollection("posts");
---

<Layout title={BLOG_TITLE}>
  <main>
    {
      allPosts.map(async (post) => {
        const { title, date } = post.data;
        const href = "/blog/" + post.slug;
        const { Content } = await post.render();

        const formattedDate = new Date(date).toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        });

        return (
          <div class="flex flex-col mb-8">
            <a
              id="post-title"
              class="hover:underline hover:text-blue-500 transition duration-100 ease-in-out"
              href={href}
            >
              {title}
            </a>
            <a id="post-date" class="mt-1">
              {formattedDate}
            </a>
            <div
              id="post-preview"
              class="mt-4 truncate overflow-hidden text-wrap max-h-20 whitespace-pre-line"
            >
              <Content />
            </div>
          </div>
        );
      })
    }
  </main>
</Layout>

<style>
  nav #logo {
    font-family: "Pixel Code Light";
    font-size: 36px;
  }

  nav #right-navbar a {
    font-family: "Noto Serif Georgian";
    font-size: 24px;
    weight: regular;
  }

  #post-title {
    font-family: "Noto Serif Georgian";
    font-size: 24px;
  }

  #post-date {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    color: #929292;
  }

  #post-preview {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
  }
</style>
