---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("posts");
---

<Layout title="Welcome to Astro.">
  <main>
    {
      allPosts.map((post) => {
        const { title } = post.data;
        const href = "/blog/" + post.slug;

        return <a href={href}>{title}</a>;
      })
    }
  </main>
</Layout>
