.post-title {
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: column;
        span {
            font-size: 0.9rem;
            opacity: 0.5;
            text-align: right;
        }
    }
}

code,
pre {
    border-radius: 5px;
}
