---
import { SITE_CONFIG } from "../config";

const isHome = Astro.url.pathname === "/";
const justifyStyle = isHome ? "justify-end" : "justify-between";
---

<footer class=`flex ${justifyStyle} items-center py-4 mt-8`>
	{
		!isHome && (
			<a href="/" class="text-xl md:text-2xl">
				{"< "}home
			</a>
		)
	}
	<div class="flex space-x-4">
		<a
			href="/rss.xml"
			class="text-sm hover:underline"
			target="_blank"
			rel="noopener noreferrer"
		>
			RSS
		</a>
		<span>/</span>
		<a
			href={`mailto:${SITE_CONFIG.author.email}`}
			target="_blank"
			rel="noopener noreferrer"
			class="text-sm hover:underline"
		>
			Mail
		</a>
		<span>/</span>
		<a
			href={`https://github.com/${SITE_CONFIG.github.username}`}
			class="text-sm hover:underline"
			target="_blank"
			rel="noopener noreferrer"
		>
			GitHub
		</a>

		<style>
			footer a {
				font-family: var(--font-atkinson);
				text-transform: lowercase;
				font-size: clamp(16px, 3vw, 18px);
				padding: 0 0.15rem;
				margin: 0 -0.15rem;
			}

			:global(html:not(.dark)) footer a:hover {
				background-color: #0000ee;
				color: #ffff11 !important;
			}

			:global(html.dark) footer a:hover {
				background-color: #a855f7;
				color: #111827 !important;
			}
		</style>
	</div>
</footer>
