---

---

<nav class="flex justify-between mt-10 mb-14">
	<a id="logo" href="/">marcelarie</a>
	<div id="right-navbar" class="flex space-x-4 self-center">
		<a href="/about">About</a>
		<a href="/projects">Projects</a>
	</div>
</nav>

<style>
	nav #logo {
		font-family: "Pixel Code Light";
		font-size: 36px;
	}

	nav #right-navbar a {
		font-family: "Noto Serif Georgia";
		font-size: 24px;
		weight: regular;
	}
</style>
