---

---

<nav class="flex justify-between mt-10 mb-14">
	<a id="logo" href="/">
		<span>m</span><span>a</span><span>r</span><span>c</span><span>e</span
		><span>l</span><span>a</span><span>r</span><span>i</span><span>e</span>
	</a>
	<div id="right-navbar" class="flex space-x-4 self-end ml-1">
		<a href="/about">About</a>
		<a href="#" class="relative group line-through text-gray-200">
			Projects
			<span
				class="absolute hidden group-hover:block bg-white text-black p-2 text-sm border-2 border-black top-full transform -translate-x-1/8 mt-2 text-center w-[100px]"
				>This area is still under construction</span
			>
		</a>
	</div>

	<style>
		nav #logo {
			font-family: "Pixel Code Light";
			@apply text-xl md:text-4xl;
		}

		nav #logo span {
			display: inline-block;
			transition: opacity 0.2s ease-in-out;
		}

		nav #logo span:hover {
			text-decoration: underline;
		}

		nav #logo span:active {
			opacity: 0;
			transition: 0.2s;
		}

		nav #right-navbar a {
			font-family: "Noto Serif Georgia";
			font-size: 20px;
			weight: regular;
			&:hover {
				color: #424949;
			}
		}
	</style>
</nav>
