.project-card {
    padding: 0.5rem 0;
    a {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.3rem;
        margin: 0.2rem 0;
    }
    i {
        font-size: 1.3rem;
        margin-right: 0.3rem;
    }
}
