body {
	background-color: #fbf1c7
}

h1 {
	text-align: center;
	color: #282828;
}

p {
	text-align: center;
}


<!--Navigation bar list--!>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #928374;
}
li {
	float: right;
	background-color: #fbf1c7;
	list-style-type: none;
}

li a { 
	display: block;
	color: #282828;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #ebdbb2;
	color: #282828;
}

